@import "todo-dark";

body {
  main {
    background-color: $Light-Grayish-Blue;
  }
  #todo-list {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 250px;

    #body-item-1 {
      background-image: url(../images/bg-desktop-light.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
    }

    #content {
      position: relative;
      top: 42%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      min-height: 550px;

      #add {
        position: absolute;
        top: -24px;
        right: 0;
        height: 54.5px;
        width: 55px;
        border-radius: 7px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-size: 38px;
        overflow: hidden;
        color: rgba(128, 128, 128, 0.864);
        transition: 0.2s;

        &:hover {
          background-color: rgba(172, 169, 169, 0.889);
        }
      }

      input {
        position: relative;
        top: -24px;
        font-family: $font-family;
        width: 100%;
        height: 55px;
        outline: none;
        padding-left: 45px;
        border: none;
        overflow: hidden;
        border-radius: 7px;
        cursor: pointer;
      }

      .list {
        margin-bottom: 20px;

        .task {
          height: 55px;
          display: flex;
          justify-content: space-between;
          width: 100%;
          background-color: $white-clr;
          border-top: 2px solid $Very-Light-Grayish-Blue;
          cursor: pointer;
          border-radius: 5px;

          span.x {
            font-size: 20px;
            padding: 15px 10px;
            color: rgba(149, 147, 147, 0.927);
          }

          div {
            height: 100%;
            width: 100%;

            span.taskname {
              position: relative;
              bottom: 63px;

              color: $Very-Dark-Grayish-Blue-l;
              height: 100%;
              width: 100%;
              margin-left: 50px;

              &.task-completed {
                text-decoration: line-through;
                color: $Light-Grayish-Blue;
              }
            }

            .list-checkbox {
              position: relative;
              top: -5px;
              z-index: 3;
              opacity: 0;

              &:checked + label::after {
                background-image: $gradient;
              }

              & + label {
                width: 30px;
                cursor: pointer;

                display: block;
                position: relative;
                height: 20px;
                line-height: 1.7em;

                &::after {
                  z-index: 2;
                  bottom: 43px;
                  left: 12.5px;
                  width: 22px;
                  height: 22px;
                  display: block;
                  content: "";
                  background: #fff;
                  position: absolute;
                  border-radius: 50%;
                  border: 1px solid $Dark-Grayish-Blue;
                }
              }
            }
          }
        }
      }
    }

    #info {
      display: flex;
      justify-content: flex-end;
      align-items: end;
      width: 100%;
      height: 55px;
      border-radius: 7px;
      background-color: $white-clr;

      p {
        padding: 5px 13px;
        font-size: 13px;
        color: $Dark-Grayish-Blue;

        &:hover {
          color: rgba(133, 133, 233, 0.799);
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  body {
    min-height: 600px;

    background-color: $Very-Light-Grayish-Blue;
    #todo-list {
      position: relative;
      display: grid;
      grid-template-rows: 250px;
      grid-template-columns: auto;

      #body-item-1 {
        background-image: url(../images/bg-desktop-light.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-width: 280px;
      }

      #content {
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        min-height: 550px;
      }

      #info {
        display: flex;
        justify-content: flex-end;
        align-items: end;
        width: 100%;
        height: 55px;
        border-radius: 7px;
        background-color: $white-clr;

        p {
          padding: 5px 13px;
          font-size: 13px;
          color: $Dark-Grayish-Blue;

          &:hover {
            color: rgba(133, 133, 233, 0.799);
            cursor: pointer;
          }
        }
      }
    }
  }

  #content {
    max-width: 70%;
    position: relative;

    button {
      display: block;
      position: absolute;
    }
  }
}
